button{
    position:absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 18px;
    outline: none;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 15px/normal "Battambang", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    word-wrap: ;
    background: rgb(233, 58, 48);
    -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    top:10px;
    left:10px;
}