* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}
form {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  border: 2px solid #424242;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: right;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.form-grid-item-5{
  grid-column: 1 / span 2;
  grid-row: 5;
  padding-right: 50px;
}

#register{
  float: 

}
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(40,40,40,0.6);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* OLD */
.wrapper {

  padding: 15px;

}

 .button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  /* ;content:  */
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  outline: none;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-align: left;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: normal;
  white-space: normal;
  word-spacing: normal;
  /* word-wrap: ; */
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
  /* opacity: ; */
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  text-decoration: none;
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

 .new-year-tree {
   margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  /* content: ; */
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 190px 0 0 97px;
  outline: none;
  border: none;
  -webkit-border-radius: 147px;
  border-radius: 147px;
  font: normal normal bold medium/2 "Alex Brush", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  text-align: left;
  text-indent: 0;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: normal;
  white-space: pre-wrap;
  word-spacing: normal;
  /* word-wrap: ; */
  background: -webkit-radial-gradient(closest-side, rgba(255,255,255,0) 0, rgba(255,255,255,0) 62%, rgba(255,255,255,0.5) 100%), -webkit-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 7%, rgba(255,255,255,0) 8%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 9%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 5%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle farthest-side, rgba(237,79,255,1) 0, rgba(184,80,244,1) 33%, rgba(202,79,239,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(circle farthest-side, rgba(131,169,252,1) 0, rgba(13,144,232,1) 33%, rgba(79,139,242,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(circle farthest-side, rgba(255,255,79,1) 0, rgba(229,218,13,1) 33%, rgba(237,239,79,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(circle farthest-side, rgba(255,197,173,1) 0, rgba(255,165,68,1) 33%, rgba(237,161,80,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(circle farthest-side, rgba(255,79,79,1) 0, rgba(237,14,14,1) 33%, rgba(237,52,52,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -webkit-linear-gradient(-10deg, rgba(0,0,0,0) 0, rgba(255,255,255,0) 45%, rgba(255,30,30,1) 50%, rgba(255,0,0,1) 55%, rgba(255,79,79,1) 100%), -webkit-linear-gradient(10deg, rgba(255,79,79,1) 0, rgba(255,0,0,1) 45%, rgba(255,30,30,1) 50%, rgba(255,255,255,0) 55%, rgba(0,0,0,0) 100%), -webkit-linear-gradient(-150deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -webkit-linear-gradient(-210deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -webkit-linear-gradient(-150deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -webkit-linear-gradient(-210deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -webkit-linear-gradient(-145deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -webkit-linear-gradient(-215deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -webkit-linear-gradient(-145deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -webkit-linear-gradient(-215deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -webkit-linear-gradient(-140deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -webkit-linear-gradient(-220deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -webkit-linear-gradient(0deg, rgba(147,93,0,1) 0, rgba(165,107,0,1) 46%, rgba(191,125,3,1) 48%, rgba(247,150,33,1) 100%), -webkit-radial-gradient(closest-side, rgba(40,40,40,0.6) 0, rgba(40,40,40,0.6) 24%, rgba(191,232,249,0) 93%, rgba(228,245,252,0) 100%);
  background: -moz-radial-gradient(closest-side, rgba(255,255,255,0) 0, rgba(255,255,255,0) 62%, rgba(255,255,255,0.5) 100%), -moz-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 7%, rgba(255,255,255,0) 8%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 9%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 5%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle farthest-side, rgba(237,79,255,1) 0, rgba(184,80,244,1) 33%, rgba(202,79,239,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -moz-radial-gradient(circle farthest-side, rgba(131,169,252,1) 0, rgba(13,144,232,1) 33%, rgba(79,139,242,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -moz-radial-gradient(circle farthest-side, rgba(255,255,79,1) 0, rgba(229,218,13,1) 33%, rgba(237,239,79,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -moz-radial-gradient(circle farthest-side, rgba(255,197,173,1) 0, rgba(255,165,68,1) 33%, rgba(237,161,80,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -moz-radial-gradient(circle farthest-side, rgba(255,79,79,1) 0, rgba(237,14,14,1) 33%, rgba(237,52,52,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), -moz-linear-gradient(100deg, rgba(0,0,0,0) 0, rgba(255,255,255,0) 45%, rgba(255,30,30,1) 50%, rgba(255,0,0,1) 55%, rgba(255,79,79,1) 100%), -moz-linear-gradient(80deg, rgba(255,79,79,1) 0, rgba(255,0,0,1) 45%, rgba(255,30,30,1) 50%, rgba(255,255,255,0) 55%, rgba(0,0,0,0) 100%), -moz-linear-gradient(240deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -moz-linear-gradient(300deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -moz-linear-gradient(240deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -moz-linear-gradient(300deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -moz-linear-gradient(235deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -moz-linear-gradient(305deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -moz-linear-gradient(235deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -moz-linear-gradient(305deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -moz-linear-gradient(230deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), -moz-linear-gradient(310deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), -moz-linear-gradient(90deg, rgba(147,93,0,1) 0, rgba(165,107,0,1) 46%, rgba(191,125,3,1) 48%, rgba(247,150,33,1) 100%), -moz-radial-gradient(closest-side, rgba(40,40,40,0.6) 0, rgba(40,40,40,0.6) 24%, rgba(191,232,249,0) 93%, rgba(228,245,252,0) 100%);
  background: radial-gradient(closest-side, rgba(255,255,255,0) 0, rgba(255,255,255,0) 62%, rgba(255,255,255,0.5) 100%), radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 7%, rgba(255,255,255,0) 8%, rgba(255,255,255,0) 100%), radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 9%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 100%), radial-gradient(circle closest-side, rgba(255,255,255,1) 0, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.8) 5%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 100%), radial-gradient(circle farthest-side, rgba(237,79,255,1) 0, rgba(184,80,244,1) 33%, rgba(202,79,239,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), radial-gradient(circle farthest-side, rgba(131,169,252,1) 0, rgba(13,144,232,1) 33%, rgba(79,139,242,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), radial-gradient(circle farthest-side, rgba(255,255,79,1) 0, rgba(229,218,13,1) 33%, rgba(237,239,79,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), radial-gradient(circle farthest-side, rgba(255,197,173,1) 0, rgba(255,165,68,1) 33%, rgba(237,161,80,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), radial-gradient(circle farthest-side, rgba(255,79,79,1) 0, rgba(237,14,14,1) 33%, rgba(237,52,52,1) 41%, rgba(255,255,255,0.2) 52%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%), linear-gradient(100deg, rgba(0,0,0,0) 0, rgba(255,255,255,0) 45%, rgba(255,30,30,1) 50%, rgba(255,0,0,1) 55%, rgba(255,79,79,1) 100%), linear-gradient(80deg, rgba(255,79,79,1) 0, rgba(255,0,0,1) 45%, rgba(255,30,30,1) 50%, rgba(255,255,255,0) 55%, rgba(0,0,0,0) 100%), linear-gradient(240deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), linear-gradient(300deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), linear-gradient(240deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), linear-gradient(300deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), linear-gradient(235deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), linear-gradient(305deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), linear-gradient(235deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), linear-gradient(305deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), linear-gradient(230deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 48%, rgba(47,160,3,1) 50%, rgba(40,137,2,1) 52%, rgba(47,160,3,1) 100%), linear-gradient(310deg, rgba(47,160,3,1) 0, rgba(40,137,2,1) 48%, rgba(47,160,3,1) 50%, rgba(255,255,255,0) 52%, rgba(140,140,140,0) 100%), linear-gradient(90deg, rgba(147,93,0,1) 0, rgba(165,107,0,1) 46%, rgba(191,125,3,1) 48%, rgba(247,150,33,1) 100%), radial-gradient(closest-side, rgba(40,40,40,0.6) 0, rgba(40,40,40,0.6) 24%, rgba(191,232,249,0) 93%, rgba(228,245,252,0) 100%);
  background-repeat: repeat, repeat, repeat, repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 69% 72%, 50% 50%, 78% 53%, 46% 40%, 42% 64%, 55% 51%, 49% 35%, 62% 76%, 50% 12%, 49% 8%, 51% 8%, 140px 20%, 120px 20%, 140px 27%, 110px 27%, 140px 40%, 90px 40%, 140px 56%, 60px 56%, 140px 75%, 20px 75%, 130px 84%, 50% 88%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto, 40px 50px, 47px 45px, 44px 58px, 36px 36px, 36px 36px, 36px 36px, 36px 36px, 36px 36px, 6px 24px, 6px 24px, 20px 30px, 20px 30px, 30px 40px, 30px 40px, 50px 40px, 50px 40px, 80px 40px, 80px 40px, 120px 50px, 120px 50px, 20px 14px, 156px 33px;
  background-size: auto auto, 40px 50px, 47px 45px, 44px 58px, 36px 36px, 36px 36px, 36px 36px, 36px 36px, 36px 36px, 6px 24px, 6px 24px, 20px 30px, 20px 30px, 30px 40px, 30px 40px, 50px 40px, 50px 40px, 80px 40px, 80px 40px, 120px 50px, 120px 50px, 20px 14px, 156px 33px;
  -webkit-box-shadow: 30px 30px 20px -20px rgba(255,255,255,1) inset, -20px -20px 20px 0 rgba(0,0,0,0.13) inset, 80px 80px 40px -15px rgba(255,255,255,0.44) inset, -20px -20px 30px 25px rgba(0,122,204,0.29) inset;
  box-shadow: 30px 30px 20px -20px rgba(255,255,255,1) inset, -20px -20px 20px 0 rgba(0,0,0,0.13) inset, 80px 80px 40px -15px rgba(255,255,255,0.44) inset, -20px -20px 30px 25px rgba(0,122,204,0.29) inset;
  text-shadow: 1px 1px 2px rgba(40,40,40,0.6) ;
}
